<li>
  <%= gravatar_for user, size: 50 %>
  <strong>Name:</strong> <%= link_to user.name, user %>
  <br />
  <strong>Company:</strong> <%= user.company.name.upcase %>
  <br />
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>
